*{
  margin: 0;
  padding: 0;
  font-family: Bubble Boop;
}

.header{
  padding: 30px;
  text-align: center;
  background: #3D550C;
  color: white;
  font-size: 30px;
}

p{
  text-align: right;
}

.container{
	padding: 10px;
}

img {
  border-radius: 15%;
  margin-right: 20px;
  margin-left: 20px;
}

body {
  background-color: #ECF87F;
}

.btn{
  border: 1px solid #6D543E;
  background: none;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 8px;
  transition: 0.5s;
  font-size: 20px;
}

.btn1,.btn2, .btn3, .btn4, .btn5{
 color: #6D543E;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover{
 color: #E2D2A7;
}

.social-icon ul{
	position: absolute;
	top: 80%;
	left: 20%;
	transform: translate (-50%, -50%);
	display: flex;
}

.button{
  border: 1px solid transparent;
  background: none;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 8px;
  transition: 0.5s;
  font-size: 20px;
}
